//- Click and drag to pan around

input#rainbow(type="checkbox")

script.
	window.canvasOptions = {
		autoClear: true,
		autoCompensate: true,
		autoPushPop: true,
		canvas: true,
		centered: true,
		width: null,
		height: null
	};